// variable overrides go here

$primary: black;

// import all of bootstrap here

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// add scss code here


#intro-block {
    height: 60vh;
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#intro-block-text{
    width: 50vh;
    text-align: center;
}

ul {
    background-color: gray;
}

#sub-section-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 40px;
}

#sub-section-2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    padding-top: 80px;
}

#sub-1-text {
    width: 50vh;
}

#footer {
    padding-top: 20px;
    height: 5vh;
    background-color: gray;
}