:root {
    --primary: 	#f2f2f2;
    --secondary: #232f3e;
    --font-color: 	#000000;
    --header-color: #146eb4;
    --info: #ff9900;

    --primary-dark: #000000;
    --secondary-dark: #ff9900;
    --font-color-dark: 	#f2f2f2;
    --header-color-dark: #232f3e;
    --info-dark: #146eb4;
}

@media screen and (max-width: 480px) {

    img {
        width: 100%;
    }

    #content-section1 {
        flex-direction: column;
    }
    
    #content-section2 {
        flex-direction: column;
    }

}
@media screen and (min-width: 481px) and (max-width: 768px) {
    
    img {
        width: 100%;
    }

    #content-section1 {
        flex-direction: column;
    }
    
    #content-section2 {
        flex-direction: column;
    }

}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    
    img {
        width: 300px;
    }
    
    #content-section2 {
        flex-direction: row-reverse;
    }


}
@media screen and (min-width: 1025px) and (max-width: 1200px) {

    img {
        width: 400px;
    }
    
    #content-section2 {
        flex-direction: row-reverse;
    }

}

@media screen and (min-width: 1201px) {
    #content-section2 {
        flex-direction: row-reverse;
    }
}

.nav-link {
    color: var(--font-color-dark);

}

#staticBackdrop.dark {
    background-color: var(--primary-dark);
}

#header-container{
    margin-top: 30px;
    background-color: var(--secondary);
    text-align: center;
}

#header {
    font-size: 50px;
    padding: 20px;
    color: var(--info);
}

#main-header {
    font-size: 150px;
    color: var(--primary);
    font-family: monospace;
}

img {
    border-radius: 15px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--info);
}

#acc-btn {
    background-color: var(--header-color);
    color: var(--font-color);
    border-style: solid;
    border-width: 3px;
    border-color: var(--info);
}

body {
    background-color: var(--primary);
    color: var(--font-color);
}

#nav-bar {
    position: fixed;
    width: 100%;
    z-index: 99;
    color: white;
}

#myWorkAccordion, #testAccordion {
    width: 75%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.accordion {
    text-align: center;
}

.accordion-button {
    text-align: center;
}

#intro-block {
    height: 60vh;
    background-color: var(--secondary);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--font-color);
    background-image: url('../assets/banner-image.png');
    background-position: bottom;
    background-repeat: no-repeat;
}

#content-section1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 40px;
}

#content-section2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 80px;
}


#intro-block.dark {
    background-color: var(--secondary-dark);
}

#intro-block-text{
    width: 50vh;
    text-align: center;
}

#nav-bar {
    background-color: var(--header-color);
}

#nav-bar.dark {
    background-color: var(--header-color-dark);
}

#settings-box.dark {
    color: var(--font-color);
}

#about-1-text {
    width: 50vh;
}

#footer {
    padding-top: 20px;
    height: 5vh;
    background-color: var(--header-color);
}

#footer.dark {
    background-color: var(--header-color-dark);
}

.dark {
    background-color: var(--primary-dark);
    color: var(--font-color-dark);
}

#contact-form {
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: var(--header-color);
    padding: 50px;
    border-radius: 15px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--info);
}

#contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 40px;
}