:root {
    --primary: #FFFBED;
    --secondary: #93BFCF;
    --font-color: #2C1100;
    --header-color: #AFA280;
    --info: #0008C1;

    --primary-dark: #252525;
    --secondary-dark: #443C68;
    --font-color-dark: #FFFBED;
    --header-color-dark: #2C1100;
    --info-dark: #635985;
}

@media screen and (max-width: 480px) {

    img {
        width: 100%;
    }

    #content-section1 {
        flex-direction: column;
    }
    
    #content-section2 {
        flex-direction: column;
    }

}
@media screen and (min-width: 481px) and (max-width: 768px) {
    
    img {
        width: 100%;
    }

    #content-section1 {
        flex-direction: column;
    }
    
    #content-section2 {
        flex-direction: column;
    }

}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    
    img {
        width: 300px;
    }
    
    #content-section2 {
        flex-direction: row-reverse;
    }


}
@media screen and (min-width: 1025px) and (max-width: 1200px) {

    img {
        width: 400px;
    }
    
    #content-section2 {
        flex-direction: row-reverse;
    }

}

@media screen and (min-width: 1201px) {
    #content-section2 {
        flex-direction: row-reverse;
    }
}

body {
    background-color: var(--primary);
    color: var(--font-color);
}


#intro-block {
    height: 60vh;
    background-color: var(--secondary);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--font-color);
    background-image: url('../assets/banner-image.png');
    background-position: bottom;
    background-repeat: no-repeat;
}

#content-section1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 40px;
}

#content-section2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 80px;
}


#intro-block.dark {
    background-color: var(--secondary-dark);
}

#intro-block-text{
    width: 50vh;
    text-align: center;
}

#nav-bar {
    background-color: var(--header-color);
}

#nav-bar.dark {
    background-color: var(--header-color-dark);
}


#settings-box.dark {
    color: var(--font-color);
}

#about-1-text {
    width: 50vh;
}

#footer {
    padding-top: 20px;
    height: 5vh;
    background-color: var(--header-color);
}

#footer.dark {
    background-color: var(--header-color-dark);
}

.dark {
    background-color: var(--primary-dark);
    color: var(--font-color-dark);
}